@import "bootstrap";
/* add site style here */

$pallete1_color: #F46113;
$pallete2_color: #04B5AB;
$pallete3_color: #0E1C39;

$base-color1: $pallete1_color;
$base-color1_lighten: lighten($base-color1, 10%);
$base-color1_darken: darken($base-color1, 10%);
$base-color2: $pallete2_color;
$base-color3: $pallete3_color;

$font-color1: #0E1C39;
$font-color2: rgb(90, 90, 90);
$font-color3: rgb(151, 151, 151);
$base-font-color1: $font-color1;
$base-font-color2: $font-color2; // dark
$base-font-color3: $font-color3; // light
$base-text-shadow: 1px 1px 1px rgba(110, 110, 110, 0.541);

$zindex_header: 50;
$zindex_quickform: 90;
$zindex_video: 80;
$zindex_cloud: 70;
$zindex_bike_chair: 60;


body {
    color: $base-font-color1;
    scroll-behavior: smooth;
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
    
}

section {
    overflow: hidden;
}

#header_box {
    
    // position: relative;
    height: 700px;
    background-image: url('../images/header.png');
    background-position: center bottom 0px;
    z-index: $zindex_header;
    
    .header_imageBike {
        background-image: url('../images/bike.png');
        width: 160px;
        height: 145px;
        position: absolute;
        left: 6%;
        bottom: 0px;
        z-index: $zindex_bike_chair;
    }
   
    .header_imageCloud1 {
        // position: absolute;
        // top: 100px;
        top: 15%;
        left: 100px;
        background-image: url('../images/cloud-1.png');
        width: 110px;
        height: 60px;
        z-index: $zindex_cloud;
        background-repeat: no-repeat;
    }
    .header_imageCloud2 {
        // position: absolute;
        // top: 150px;
        top: 25%;
        left: 200px;
        width: 80px;
        height: 44px;
        background-image: url('../images/cloud-2.png');
        z-index: $zindex_cloud;
        background-repeat: no-repeat;
    }
    
    .header-video-box {
        top: 60%;
        transform: translateY(-58%);
        z-index: $zindex_video;
        overflow: hidden;
        width: 100%;
        // position: absolute;
        
        .header-video {

            border-radius: 25px; 
            background-color: #12203A;
            height: 400px;
        }
    }
    
    .header_quickForm_box {
        // position: relative;
        z-index: $zindex_quickform;
        top: 0%;
        transform: translateY(65%);
        position: absolute;
        width: 100%;
        .header_quickForm {
            // position: absolute; BOOTSTRAP TPL USE position-absolute
            padding: 25px;
            border-radius: 25px; 
            background-color: #ffffff;
            box-shadow: 0 0 6px rgba(112, 112, 112, 0.5);
            
            .header_quickForm_title {
                font-weight: 700;
                margin-top: 0;
                margin-bottom: 0;
            }
            .header_quickForm_text {
                padding: 15px 0 15px 0;
                font-size: 18px;
                color: $base-font-color2; 
                font-weight: 500;
            }
            .header_slider_button_box{
                margin-top: 20px;
                p {
                    padding: 15px 0;
                    font-size: 14px;
                    color: $base-font-color2; 
                    font-weight: 500;
                    //text-shadow: $base-text-shadow;
                }
            }
            
            .header_slider {
                padding: 20px 0 20px 0;
                .noUi-connect {
                    background: $base-color1; 
                }
                #stepBackwardAmount, 
                #stepBackwardTerm,
                #stepForwardAmount,
                #stepForwardTerm
                {
                    width: 10%;
                }
                .noUi-target {
                    display: inline-block;
                    width: 60%;
                }
                #stepBackwardAmount, #stepForwardAmount,
                #stepBackwardTerm, #stepForwardTerm {
                    display: inline-block;
                    font-size: 22px;
                    color: $base-color1; 
                }
                #stepBackwardAmount, #stepBackwardTerm {
                    color: $base-color1; 
                    padding: 0 14px 0 0;
                }
                #stepForwardAmount, #stepForwardTerm {
                    color: $base-color1;
                    padding: 0 0 0 14px; 
                }
                .noUi-handle {
                    border-radius: 58px;
                    background-color: $base-color2;
                    box-shadow: transparent;
                    border: 3px solid #ffffff;
                }
                .noUi-handle {
                    box-shadow: transparent !important;
                }
                .noUi-handle:before, .noUi-handle:after {
                    background: #00000000;
                }
                .noUi-horizontal .noUi-handle {
                    width: 35px;
                    height: 35px;
                    left: 3px;
                    top: -10px;
                }
            }
            .sliderValue {
                font-weight: 800;
            }
        }

        
    }
}

.pagecontent {
    h2 {
        margin-top: 50px;
    }
    p {
        margin-top: 30px;
        .glyphicon-question-sign {
            color: $base-color2;
        }
    }
    .small-texts-and-icons {
        margin-top: 30px;
        .ok-icon-mark {
            color: $base-color1;
            font-size: 22px;
        }
    }
    .loan-details-box {
        background-color: $base-color3;
        border-radius: 25px;
        margin-top: 50px;
        color: #ffffff;
        padding: 25px;
        margin-bottom: 30px;
        input {
            border-radius: 28px;
            font-weight: 800;
        }
        .form-control[disabled], 
        .form-control[readonly] {
            cursor: not-allowed;
            background-color: #ffffff;
        }
        label {
            font-weight: 400;
        }
        p {
            margin-top: 10px;
            font-size: 12px;
        }
        
        /* enable absolute positioning */
        .inner-addon { 
            position: relative; 
        }

        /* style icon */
        .inner-addon .glyphicon {
            position: absolute;
            padding: 10px;
            pointer-events: none;
            color: $base-color2;
        }

        /* align icon */
        .left-addon .glyphicon  { left:  0px;}
        .right-addon .glyphicon { right: 0px;}

        /* add padding  */
        .left-addon input  { padding-left:  30px; }
        .right-addon input { padding-right: 30px; }
    }

    .yourLoanDetailsForm {
        .your-details-box {
            hr {
                border-color: $base-color3;
            }
            .form-control {
                font-size: 20px;
                padding: 28px 20px;
                border-radius: 30px;
            }
        }
        .form-control {
            font-size: 20px;
            padding: 20px 20px;
            border-radius: 30px;
        }
        .input_error_message {
            color: #f00;
            font-size: 14px;
            padding-left: 20px;
            font-weight: 600;
        }
        .input_error {
            background-color: #F2DEDF;
            color: #A8464E;
            &:focus {
                background-color: #ffffff;
                color: $base-font-color2;
            }
        }
        p {
            margin-top: 0;
        }
    }
}

.header_button_apply_now, .details_button_next {
    padding: 17px 16px;
    width: 100%;
    border-radius: 28px;
    color: #fff;
    font-weight: 600;
    font-size: 22px;
    background-color: $base-color1;
    border-color: $base-color1_darken;
    &:hover, &:active, &:focus {
        background-color: $base-color1_darken;
        border-color: $base-color1;
        color: #ffffff;
    }
}
.top_message {
    background-color: #F3F3C1; 
    .top_message_box {
        padding: 27px 0 20px 0;
        .header_imageBench {
            background-image: url('../images/bench.png');
            width: 160px;
            height: 144px;
            position: absolute;
            top: 587px;
            left: 80%;
            z-index: $zindex_bike_chair;
        }
        
    }
}


@media(max-width:1024px) {
    #header_box {
        height: 700px;
    }
    #header_box .header_quickForm_box {
        top: -0%;
    }
}

@media(max-width:600px) {
    #header_box {
        height: 700px;
    }
    #header_box .header_quickForm_box {
        top: -30%;
    }
}


.position-static {
    position: static;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.position-fixed {
    position: fixed;
}
.position-sticky {
    position: sticky;
}

